NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_APP_NAME=CampusFlow
NEXT_PUBLIC_ENV=development

# Telegram Setup
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=@CampusFlowBot
NEXT_PUBLIC_TELEGRAM_BOT_LINK=https://t.me/CampusFlowBot
